.Loading {
    position: fixed;
    width: calc(100vw - 60px);

    height: 100vh;
    background-color: rgba(40, 44, 52, 0.88);
    padding: 30px;
}

.LoadingIcon {
    width: 70px;
    animation: spin 1s infinite steps(8);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Logs {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #fff;
}

.Log {
    margin-top: 10px;
}