.Wormhole {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: calc(100% - 40px);
}

.Head, .Body {
    height: 50%;
    overflow: hidden;
}

.data-container {
    display: flex;
    flex-direction: row;
}

.table-anomalies-container {
    width: 50%;
}

.table-anomalies {
    width: 100%;
    max-width: calc(100% - 10px);
    min-width: auto;
}

.current-anomaly-status {
    width: 50% !important;
    display: flex;
    flex-direction: column;
}

.table-actions {
    display: flex;
    flex-direction: row;
}

.graph-actions {
    display: flex;
    flex-direction: row;
    background-color: #23262e;
}

.graph-actions-tab {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.graph-actions-tab .active {
    cursor: initial;
    background-color: #5a5b5e;
}
