.Graph {
    width: 100%;
    height: 700px;
    background: #23262e;
    position: relative;
}

.GraphContainer {
    position: absolute;
    left: 50%;
}

.ButtonEmpty {
    margin: 0;
    font-size: 10px;
    padding: 3px 5px;
}
