.SolarSystem {
    width: 40px;
    height: 50px;
    position: absolute;
}
.SolarSystem .Planets {
    width: 100px;
    height: 35px;
    border: solid 3px #fff;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(6deg);
}
.SolarSystem .Planets .Planet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    border: solid 1px black;
    color: #000;
}
.SolarSystem .Planets .P1 {
    top: -2px;
}
.SolarSystem .Planets .P2 {
    width: 25px;
    height: 25px;
    bottom: -12px;
    right: 6px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    transform: rotate(-6deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SolarSystem .EditButton {
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    right: 0;
    top: -8px;
    cursor: pointer;
    border: solid 1px #000;
    color: #000;
    font-size: 20px;
    transition: top 0.5s;
    font-weight: bold;
    text-align: center;
}
.SolarSystem .EditButton:hover {
    top: -25px;
}
.SolarSystem .SunOver {
    width: 40px;
    height: 15px;
    position: absolute;
    overflow: hidden;
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 10px;
    margin-right: -10px;
    z-index: 2;
}
.SolarSystem .SunOver:before {
    content: "";
    position: absolute;
    height: 70px;
    left: 0;
    right: 0;
    top: -10px;
    background: #faa307;
    border-radius: 50%;
    z-index: 0;
}
.SolarSystem .Sun {
    width: 40px;
    height: 50px;
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 10px;
    margin-right: -10px;
    text-align: center;
}
.SolarSystem .Sun:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
    background: #faa307;
    border-radius: 50%;
    z-index: 0;
}
.SolarSystem .CurrentSystem {
    color: black;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 100;
}
.SolarSystem .Name {
    color: black;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    text-align: center;
    white-space: nowrap;
}
.SolarSystem .Name:hover {
    text-decoration: underline;
    cursor: pointer;
}
